<launch>
    <arg name="debug" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="pause" default="false"/>  <!-- Start Gazebo with a blank world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="true" />
        <arg name="paused" value="$(arg pause)"/>
        <arg name="use_sim_time" value="true"/>
    </include>
    <param name="robot_description" textfile="$(find new_robot)/urdf/new_robot.urdf"/>
    <node name="urdf_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -model robot_arm_1 -param robot_description "/>
    <node pkg="tf" type="static_transform_publisher" name="base_to_world" args="0 0 0 0 0 0 base_link world 10" />
 <include file="$(find new_robot_controller)/launch/trajectory_controllers.launch"/>
 <!--include file="$(find new_robot_controller)/launch/controllers_test.launch"/-->
</launch>