<launch>
  <rosparam file="$(find new_robot_controller)/config/robot_controllers.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="  theta1_position_controller 
                            theta2_position_controller 
                            theta3_position_controller 
                            yaw_position_controller 
                            gripper_1_position_controller 
                            gripper_2_position_controller 
                            gripper_3_position_controller"/>

<!--"teta1_position_controller teta2_position_controller teta3_position_controller teta4_position_controller gripper_position_controller"/>-->

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
  </node>

</launch>